<legend>
    Speakers
</legend>

<%= link_to "New conference", new_admin_conference_path %>

<table class="table table-stripped table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Slug</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% @conferences.each do |conference| %>
            <tr>
                <td>
                    <% if conference.image.attachment %>
                    <%= image_tag conference.image.attachment, style: 'width: 200px;' %>
                    <% end %>
                </td>
                <td>
                    <%= conference.title %>
                </td>
                <td>
                    <%= conference.slug %>
                </td>
                <td>
                    <%= link_to "/#/conferences/#{conference.slug}", class: 'btn btn-primary btn-sm', title: 'Edit conference' do %>
                        <i class="fa fa-share"></i>
                    <% end %>
                    <%= link_to edit_admin_conference_path(conference), class: 'btn btn-primary btn-sm', title: 'Edit conference' do %>
                        <i class="fa fa-pencil-alt"></i>
                    <% end %>
                    <%= link_to edit_admin_conference_talks_path(conference), class: 'btn btn-secondary btn-sm', title: 'Edit talks' do %>
                    <i class="fa fa-user-edit"></i>
                    <% end %>
                    <%= link_to admin_conference_path(conference), method: :delete, class: 'btn btn-danger btn-sm', title: 'Remove conference' do %>
                        <i class="fa fa-trash"></i>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>