<legend>
    Speakers
</legend>

<%= link_to "New speaker", new_admin_speaker_path %>

<table class="table table-stripped table-hover">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Full name</th>
            <th>Slug</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% @speakers.each do |speaker| %>
            <tr>
                <td>
                    <% if speaker.avatar.attachment %>
                    <%= image_tag speaker.avatar.attachment, style: 'width: 200px;' %>
                    <% end %>
                </td>
                <td>
                    <%= speaker.name %>
                </td>
                <td>
                    <%= speaker.slug %>
                </td>
                <td>
                    <%= link_to "editar", edit_admin_speaker_path(speaker) %>
                    <%= link_to "borrar", admin_speaker_path(speaker), method: :delete %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>