<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Distance</th>
            <th>First</th>
            <th>Second</th>
            <th>Merge</th>
        </tr>
    </thead>
    <tbody>
        <% @pairs.each do |pair| %>
            <tr>
                <td><%= pair.distance %></td>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <%= image_tag pair.item1.avatar.attachment ? url_for(pair.item1.avatar.attachment) : "http://confy-assets.wecode.io/speakers/generic-speaker.png", {width: 75, height: 75} %>
                        </div>
                        <div class="col-md-9">
                            <h3>
                                <%= pair.item1.name %>
                            </h3>
                            #<%= pair.item1.id %>: <%= pair.item1.slug %>
                        </div>
                    </div>
                </td>
                <td>
                        <div class="row">
                                <div class="col-md-3">
                                    <%= image_tag pair.item2.avatar.attachment ? url_for(pair.item2.avatar.attachment) : "http://confy-assets.wecode.io/speakers/generic-speaker.png", {width: 75, height: 75} %>
                                </div>
                                <div class="col-md-9">
                                    <h3>
                                        <%= pair.item2.name %>
                                    </h3>
                                    #<%= pair.item2.id %>: <%= pair.item2.slug %>
                                </div>
                            </div>
                </td>
                <td>
                        <%= link_to merge_admin_speaker_path(id: pair.item1.id, other: pair.item2.id ), method: :post, class: 'btn btn-sm btn-danger' do %>
                            1st <i class="fa fa-arrow-left"></i> 2nd
                        <% end %>
                        <br>
                        <%= link_to merge_admin_speaker_path(id: pair.item2.id, other: pair.item1.id ), method: :post, class: 'btn btn-sm btn-danger' do %>
                            1st <i class="fa fa-arrow-right"></i> 2nd
                        <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>